  <% @chatroom = chatroom %>
  <div id="frame">
  <div class="content">
    <div class="contact-profile">
      <%= image_tag(@chatroom.activity.image.url(:thumb)) %>
      <p><%= @chatroom.activity.name %></p>
      <div id="close_chat">
        <%= link_to({action: "close_chatroom", controller: "/pages", method: :get, :remote => true}) do %>
        <div style="color:#435f7a; cursor:pointer;">
          <i class="fas fa-window-close" aria-hidden="true"></i>
        </div>
        <%end%>
      </div>
    </div>
    <div class="messages panel-body" id="messages">
      <% if @chatroom.messages.any? %>
      <div class="panel panel-default">
      <ul id="msgs">
        <%= render partial: 'messages/message', collection: @chatroom.messages, as: :message %>
      </ul>
      <%else%>
        <div class="panel-body hidden" id="messages">
      </div>
      <%end%>
    </div>
    <div class="message-input">
        <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
    </div>
  </div>

</div>
</div>


