<%= form_for(current_user, as: resource_name, url: user_registration_path, html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
<p class="circleBase text-light" id="flip-button" onclick="flip()"><i class="fas fa-sync"></i></p>
<div class="card-flipper mx-auto">
    <div class="card border border-dark m-0 swipe-card">
        <div class="front">
            <% @user = current_user %>
            <div data-imagedrop class="position-relative mb-0" style='background-image: url(<%= image_url(:medium)%>)'>
              <%= f.file_field :image %>
            </div>
          <div class="card-body py-0 px-2">
              <%= f.text_field :first_name, autofocus: true, autocomplete: "off", class: "form-control position-relative float-left section-college my-1 mr-1 ml-0" %>
              <%= f.text_field :last_name, autofocus: true, autocomplete: "off", class: "form-control position-relative float-right section-college my-1" %>
              <%= f.select(:academic_year, [
                  ['Please Select One',''],
                  ['Freshman','Freshman'],
                  ['Sophomore','Sophomore'],
                  ['Junior','Junior'],
                  ['Senior','Senior'],
                  ['Graduate','Graduate']
                  ], {}, { :class => "form-control section-year mb-1 form-control-sm" }) %>
              <%= f.select(:college_location, [
                ['Please Select One',''],
                ['Cowell','Cowell'],
                ['Stevenson','Stevenson'],
                ['Crown','Crown'], 
                ['Merrill','Merrill'],
                ['Porter','Porter'],
                ['Kresge','Kresge'],
                ['Oakes','Oakes'],
                ['Rachel Carson','Rachel Carson'],
                ['College Nine','College Nine'],
                ['College Ten','College Ten'],
                ['Off Campus','Off Campus']
                ], {}, { :class => "form-control section-college mb-1 form-control-sm" }) %>
              <%= f.text_field :major, autofocus: true, autocomplete: "off", class: "form-control position-relative m-0 form-control-sm" %>

          </div>
        </div>
        <div class="back p-2 bg-white border border-dark">
                  <div class="form-group pr-4">
                    
                    <%= f.label :interests, class: "text-dark" %><br />
                    <%= f.text_area :interest_list, autofocus: true, autocomplete: "off", class: "form-control m-1" %>
                    <%= f.label :bio, class: "text-dark" %><br />
                    <%= f.text_area :bio, autofocus: true, autocomplete: "off", class: "form-control m-1" %>
                  </div>
        </div>
    </div>
</div>


<!-- Buttons _edit_prfile_card-->
<div class="row buttons justify-content-center">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-small btn-left mb-2" data-toggle="modal" data-target="#changePassword">Change Password</button>

    <!-- Modal -->
    <div id="changePassword" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Change Password</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="newpassword" class="text-dark">New Password</label> <br />
              <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
            </div>
            <div class="form-group">
              <label for="newpassword" class="text-dark">Confirm Your New Password</label> <br />
              <%= f.password_field :password_confirmation, autocomplete: "off", autofocus: true, class: "form-control" %>
            </div>
            <div class-"form-group">
              <%= f.label :current_password, class: "text-dark" %> <h6><small>(we need your current password to confirm your changes)</small></h6><br />
              <%= f.password_field :current_password, autocomplete: "off", autofocus: true, class: "form-control" %>
            </div>
            <div class="actions" align="center">
            <%= f.submit "Update Password", class: "btn btn-primary mt-2" %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
        <%= f.submit "Save", class: "btn btn-primary btn-right" %>
            <% end %>
    </div>
</div>