<%= form_for(current_user, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
<p class="circleBase text-light" id="flip-button" onclick="flip()"><</p>
<div class="card-flipper mx-auto">
    <div class="card border border-dark m-0 swipe-card"">
        <div class="front">
            <% @user = current_user %>
            <div data-imagedrop style='background-image: url(<%= image_url(:medium)%>)'>
              <%= f.file_field :image %>
            </div>
          <div class="card-body py-0 px-2">
            <div class="row">
              <%= f.text_field :first_name, autofocus: true, autocomplete: "off", class: "form-control col-md name_field" %>
              <%= f.text_field :last_name, autofocus: true, autocomplete: "off", class: "form-control col-md name_field last_name" %>
            </div>
              <%= f.text_field :major, autofocus: true, autocomplete: "off", class: "card-text btn btn-secondary" %>
              <%= f.text_area :bio, autofocus: true, autocomplete: "off", class: "form-control" %>
          </div>
        </div>
        <div class="back p-2 bg-white border border-dark">
                  <%= f.select(:college_location, [
                    ['Please Select One',''],
                    ['Cowell','Cowell'],
                    ['Stevenson','Stevenson'],
                    ['Crown','Crown'],
                    ['Merrill','Merrill'],
                    ['Porter','Porter'],
                    ['Kresge','Kresge'],
                    ['Oakes','Oakes'],
                    ['Rachel Carson','Rachel Carson'],
                    ['College Nine','College Nine'],
                    ['College Ten','College Ten'],
                    ['Off Campus','Off Campus']
                    ], {}, { :class => "form-control" }) %>
                  <div class="form-group">
                    <%= f.label :interests %><br />
                    <%= f.text_area :interest_list, autofocus: true, autocomplete: "off", class: "form-control" %>
                  </div>
          
        </div>
</div>
    <p>
      <a class="btn" data-toggle="collapse" href="#collapsePassword" role="button" aria-expanded="false" aria-controls="collapsePassword">Change Password</a>
    </p>
    
    <div class="collapse" id="collapsePassword">
      <div class="card border border-dark">
        <div class="card-body">
          <div class="form-group">
            <label for="newpassword">New Password</label> <br />
            <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="newpassword">Confirm Your New Password</label> <br />
            <%= f.password_field :password_confirmation, autocomplete: "off", autofocus: true, class: "form-control" %>
          </div>
          <div class-"form-group">
            <%= f.label :current_password %> <h6><small>(we need your current password to confirm your changes)</small></h6><br />
            <%= f.password_field :current_password, autocomplete: "off", autofocus: true, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>


<!-- Buttons _edit_prfile_card-->

<div class="buttons">
  <div class="row justify-content-center mt-2 buttons">
    <div class="actions" align="center">
        <%= f.submit "Save", class: "btn btn-primary" %>
            <% end %>
      </div>
  </div>
</div>
