<div class="card border border-dark swipe-card">
    <%= display_image(user, :medium, "card-img-top") %>
    <div class="card-body p-2">
        <h5 class = "card-title"><%= user.first_name %></h5>
        <h6 class = "card-text btn btn-warning"><%= user.major %></h6>
        <p class = "card-text activity-description"><%= user.bio %></p>
        <% user.interests.each do |interest| %>
            <p class="badge"><%= "#{interest.interest_name}" %></p>
        <% end %>
    </div>
</div>


<!-- Buttons -->
<div class="row justify-content-center mt-2">
            <%= link_to "Dislike", {action: "dislike_profile", controller: "pages", id: user.id, :remote => true}, {class: 'btn btn-danger mr-2'} %>
            <%= link_to "Like", {action: "like_profile", controller: "pages", id: user.id, :remote => true}, {class: 'btn btn-success ml-2'} %>
</div>