<div class="card-flipper mx-auto">
    <div class="card border border-dark swipe-card m-0" onclick="flip()">
        <div class="front">
            <%= display_image(user, :medium, "card-img-top p-2") %>
            <div class="card-body py-0 px-2">
                <h5 class = "card-title m-1"><%= user.first_name %></h5>
                <h6 class = "card-text btn btn-secondary"><%= user.major %></h6>
                <p class = "card-text activity-description"><%= user.bio %></p>
            </div>
        </div>
        <div class="back">
            <div class="card-body py-0 px-2">
                <h5 class = "card-title m-1"><%= user.first_name %></h5>
                <h6 class = "card-text btn btn-warning"><%= user.major %></h6>
                <p class = "card-text"><%= user.college_location %></p>
                <% user.interests.each do |interest| %>
                    <p class="badge"><%= "#{interest.interest_name}" %></p>
                <% end %>
                <p class = "card-text"><%= user.bio %></p>
            </div>
        </div>
    </div>
</div>


<!-- Buttons -->
<div class="row justify-content-center mt-2">
    <% if user.id == current_user.id %>
    <% else %>
        <% if user.matches.exists?(user_id: user.id, activity_id: session[:current_activity_id]) %>
            <%= link_to "Unmatch", {action: "unmatch_profile", controller: "pages", id: user.id, :remote => true}, {class: 'btn btn-danger'} %>
        <% else %>
            <%= link_to "Dislike", {action: "dislike_profile", controller: "pages", id: user.id, :remote => true}, {class: 'btn btn-danger mr-2'} %>
            <%= link_to "Like", {action: "like_profile", controller: "pages", id: user.id, :remote => true}, {class: 'btn btn-success ml-2'} %>
        <% end %>
    <% end %>
</div>