<%= link_to({action: "show_profile_card", controller: "pages", id: user.id, method: :get, :remote => true}, class: "nav-link p-0") do %>
<div class= "nav flex-row activity-row p-2 text-dark">
  <div class="mini-card education">
    <div class="overlay"></div>
    <div class="circle">
      <%= display_activity_image(profile, :medium, "w-75 rounded-circle") %>
    </div>
    <div class = "cell-activity_name">
      <p class= "m-0"><%= profile.first_name %></p>
      <% unless profile.major.nil? or profile.major.empty? %>
      <p class="m-0"><%= profile.major%></p>
      <% end %>
      <% unless profile.college_location.nil? or profile.college_location.empty? %>
      <p class="m-0"><%= profile.college_location%></p>
      <% end %>
    </div>
  </div>
</div>
<% end %>
