<%= link_to({action: "show_profile_card", controller: "pages", id: user.id, method: :get, :remote => true}, class: "nav-link p-0") do %>
	<div class= "nav flex-row activity-row p-2 text-dark">
		<div class = "col-2 p-0">
		<%= display_image(user, :thumb, "rounded-circle") %>
		</div>
		<div class = "col-10">
      		<h4><%= user.first_name%></h4>
      		<h5><span class="card-title btn btn-dark ml"><%= user.major%></span><span class="card-title btn btn-warning mr">    <%= user.college_location%></span></h5>
    	</div>
	</div>
<% end %>