<div class="front">
  <%= display_image(user, :medium, "card-img-top") %>
  <div class="card-body py-0 px-2">                 
      <h5 class = "card-title m-1"><%= user.first_name %></h5>
      <p class = "card-text activity-description"><%= user.bio %></p>
  </div>
</div>
<div class="back">
  <!-- DO NOT PUT IN A DIV-->             
      <h5 class = "card-title m-1"><%= user.first_name %></h5>
      <h6 class = "card-text btn btn-warning"><%= user.major %></h6>
      <p class = "card-text"><%= user.college_location %></p>
      <% user.interests.each do |interest| %>
          <p class="badge"><%= "#{interest.interest_name}" %></p>
      <% end %>
      <p class = "card-text"><%= user.bio %></p>
</div>