<!-- swipe_card -->
<div class="front">
  <%= display_activity_image(activity, :medium, "card-img-top") %>
  <div class="card-body py-0 px-2">
    <div class="card-title m-1" id="card-title">
      <span><%= activity.name %></span>
    </div>
    <p class="card-text card-section bg-dark" id="activity-description-front"><%= activity.description %></p>
  </div>
</div>
<div class="back p-2  border border-dark">
  <h5 class="card-title m-1"><%= activity.name %></h5>       
  <% unless activity.max_size == 0 %>
    <p class="card-text card-section bg-dark text-light"><%= capacity(activity) %></p>
  <% end %>
  <p class="card-text card-section bg-dark"><%= activity.description %></p>
  <h6 class="card-text mt-2">Members:</h6>
  <% current_members = User.joins(:memberships).where({ "memberships.activity_id" => activity.id}) %>
  <% current_members.each do |member| %>
    <%= link_to({action: "show_profile_card", controller: "/pages", id: member.id, method: :get, :remote => true}, class: "nav-link p-0 float-left w-25 mr-2") do  %>
      <div class="position-relative"><%= display_image(member, :medium, "w-100 rounded") %></div>
      <p class="badge bg-primary text-light mb-0"> <%= member.first_name %></p>
      <p class="badge bg-light text-dark"> <%= member.college_location %></p>
    <% end %>
  <%end %>
</div>