<body>
  <% if user_signed_in? %>
  <% session[:is_swiping_as_user] = false %>
  <canvas id="canvas"></canvas>
  <div class = "row d-flex">
    <div class = "col-md-3 d-none d-md-block sidebar">
      <div class = "sidebar-sticky">
        <ul class="nav nav-tabs" id="myTab" role="tablist" class="row">
          <li class="nav-item col-6">
            <a class="nav-link active tabtitle" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Matches</a>
          </li>
          <li class="nav-item col-6">
            <a class="nav-link tabtitle" id="activities-tab" data-toggle="tab" href="#activity-members" role="tab" aria-controls="members" aria-selected="false">Members</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <p class="position-absolute pt-5 pl-4" id="sidebarEmpty">Start exploring to match with people!</p>
            <% profiles = User.joins(:matches).where({ "matches.activity_id" => session[:current_activity_id]}) %>
              <% profiles.each do |profile| %>
                <%= link_to({action: "show_profile_card", controller: "pages", id: profile.id, method: :get, :remote => true}, class: "nav-link p-0") do  %>
                <div class= "nav flex-row activity-row p-2 text-dark">
                  <div class="oval-cell vertical-center">
                    <div class = "col-2 p-0">
                      <%= display_activity_image(profile,:thumb, "rounded-circle") %>
                    </div>
                    <div class = "col-10 cell-profile_name">
                      <h5 class= "m-0"><%= profile.first_name %></h5>
                      <p class="card-section card-text bg-dark text-light m-0"><%= profile.major%></p>
                      <p class="card-section card-text bg-light m-0"><%= profile.college_location%></h5>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="tab-pane fade" id="activity-members" role="tabpanel" aria-labelledby="members-tab">
            <% profiles = User.joins(:memberships).where({ "memberships.activity_id" => session[:current_activity_id]}) %>
            <% profiles.each do |profile| %>
              <%= link_to({action: "show_profile_card", controller: "pages", id: profile.id, method: :get, :remote => true}, class: "nav-link p-0") do %>
            <div class= "nav flex-row activity-row p-2 text-dark">
              <div class="oval-cell vertical-center">
                <!-- home_activity sidebar profiles -->
                <div class="col-2 p-0">
                  <%= display_activity_image(profile,:thumb, "rounded-circle") %>
                </div>
                <div class = "col-10 cell-profile_name">
                  <h5><%= profile.first_name%></h5>
                    <% if profile.id == Activity.find(session[:current_activity_id]).project_owner_id %>
                      <p class="card-section card-text bg-danger text-light m-0">Owner</p>
                    <% end %> 
                  
                  <p class="card-section card-text bg-dark text-light m-0"><%= profile.major%></p>
                  <p class="card-section card-text bg-light m-0"><%= profile.college_location%></h5>
                </div>
            </div>
          </div>
              <% end %>
              <% end %>
          </div>

        </div>

      </div>
    </div>
    <div class = "col-md-9 ml-sm-auto px-auto justify-content-center">
      <% if params[:user_id] %>
      <div id="card-container">
        <% user = User.find(params[:user_id]) %>
        <%= render 'users/user_card', user: user %>
      </div>
      <% else %>
        <div id="card-container">
        <% queue = User.queue(session[:current_activity_id]) %>
        <%  %>
        <% if queue.count > 0 %>
          <% user = queue.first %>
          <div class="card-flipper mx-auto" id="card-flipper">
            <div class="card border border-dark swipe-card m-0" onclick="flip()" ontouchstart="this.classList.toggle('hover');" >
              <div id="old">
              <%= render 'pages/swipe_profile_card', user: user%>
            </div>
            <div id="new">
              </div>
            </div>
          </div>
          </div>
          <!-- Buttons -->
          <div class="buttons" >
            <%= link_to "Dislike", {action: "dislike_profile", controller: "pages", id: user.id, :remote => true}, {class: 'btn btn-danger btn-right dislike_button'} %>
            <%= link_to "Like", {action: "like_profile", controller: "pages", id: user.id, :remote => true}, {class: 'btn btn-success btn-left like_button'} %>
          </div>
        <% else %>
        <div id="card-container">
          <%= render 'pages/empty_deck', type: 'user'%>
        </div>
        <% end %>

        </div>

        <% end %>
    </div>
  </div>
  <% end %>
</body>
