<body>
  <% if user_signed_in? %>
  <canvas id="canvas"></canvas>
  <div class = "row d-flex">
    <div class = "col-md-3 d-none d-md-block sidebar">
      <div class = "sidebar-sticky">
        <ul class="nav nav-tabs" id="myTab" role="tablist" class="row">
          <li class="nav-item col-6">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Matches</a>
          </li>
          <li class="nav-item col-6">
            <a class="nav-link" id="activities-tab" data-toggle="tab" href="#my-activities" role="tab" aria-controls="profile" aria-selected="false">Activities</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <% profiles = User.joins(:matches).where({ "matches.activity_id" => session[:current_activity_id]}) %>
          <% profiles.each do |profile| %>
            <%= link_to({action: "show_profile_card", controller: "pages", id: profile.id, method: :get, :remote => true}, class: "nav-link p-0") do %>
            <div class= "nav flex-row activity-row p-2">
              <div class = "col-2">
                <%= display_activity_image(profile,:thumb, "rounded-circle") %>
              </div>
              <div class = "col-10">
                <h4><%= profile.first_name%></h4>
                <h5><span class="card-title btn btn-dark ml"><%= profile.major%></span><span class="card-title btn btn-warning mr">    <%= profile.college_location%></span></h5>
              </div>
            </div>
            <% end %>
          <% end %>
          </div>
          <div class="tab-pane fade" id="my-activities" role="tabpanel" aria-labelledby="profile-tab">
            <% activity = Activity.joins(:memberships).where({ "memberships.ownership" => true, "memberships.user_id" => current_user.id}) %>
            <% activity.each do |activ| %>
            <div class= "nav flex-row activity-row p-2">
              <div class = "col-2">
                <%= image_tag(activ.image.url(:thumb), :class => "rounded-circle") %>
              </div>
              <div class = "col-10">
                <h4><%= activ.name%></h4>
                <p><%= activ.description%></p>
              </div>
            </div>
            <% end %>
          </div>
          
        </div>  
        
      </div>
    </div>
    <div class = "col-md-9 ml-sm-auto pt-5 px-auto justify-content-center">

      <div class = "col-5 mx-auto">
        <div id="card-container">
        <% all = User.all%>
        <% membersOfActivity = User.where(id: User.joins(:memberships).where("activity_id = ?", session[:current_activity_id])) %>
        <% usersIAlreadyLiked = User.where(id: User.joins(:likes).where("activity_id = ? AND activity_likes_user IS NOT NULL", session[:current_activity_id])) %>
        <% queue = all - membersOfActivity - usersIAlreadyLiked %>
        <% if queue.count > 0 %>
          <% nextUserInQueue = queue.first %>
          <%= render "users/user_card", user: nextUserInQueue %>
        <% else %>
          <%= render 'pages/empty_deck', type: 'user'%>
        <% end %>
           
        </div>
      </div>
    </div>
  </div>
  <% end %>
</body>
