<body>
	<% if user_signed_in? %>
 	<canvas id="canvas"></canvas>
	<div class = "row d-flex">
<!-- Sidebar -->
		<div class = "col-md-3 d-none d-md-block sidebar">
			<div class = "sidebar-sticky">
				<ul class="nav nav-tabs" id="myTab" role="tablist" class="row">
					<li class="col-4">
						<a class="nav-link active tabtitle" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><div class="center">Matched</div></a>
					</li>
					<li class="col-4">
						<a class="nav-link tabtitle" id="activities-tab" data-toggle="tab" href="#joined-activities" role="tab" aria-controls="joined" aria-selected="false"><div class="center">Connect</div></a>
					</li>
					<li class="col-4">
						<a class="nav-link tabtitle" id="activities-tab" data-toggle="tab" href="#my-activities" role="tab" aria-controls="profile" aria-selected="false"><div class="center">Owned</div></a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						
						<% activity = Activity.joins(:matches).where({ "matches.user_id" => current_user.id}) %>
						<% if (activity.blank?) %>
			              <p class="position-absolute pt-5 pl-5" id="sidebarEmpty">Start exploring to find matches!</p>
			            <% else %>
							<% activity.each do |activ| %>
								<%= link_to({action: "show_card", controller: "pages", id: activ.id, method: :get, :remote => true}, class: "nav-link p-0") do %>
									<div class= "nav flex-row activity-row p-2 text-dark">
										<div class="mini-card education">
										<div class="overlay"></div>
										<div class="circle">
											<%= display_activity_image(activ, :medium, "w-75 rounded-circle") %>
										</div>
											<p class="m-0 cell-activity_name"><%= activ.name%></p>
									</div>
									</div>
								<% end %>
							<% end %>
						<% end %>
					</div>
					<div class="tab-pane fade" id="my-activities" role="tabpanel" aria-labelledby="profile-tab">
						<% activity = Activity.joins(:memberships).where({ "memberships.ownership" => true, "memberships.user_id" => current_user.id}) %>
						<% if (activity.blank?) %>
			              <h6><p class="position-absolute pt-5 pl-4 pr-4 center" id="sidebarEmpty">Create an activity, it will show up here!</p></h6>
			            <% else %>
							<% activity.each do |activ| %>
								<%= link_to({action: "show_card", controller: "pages", id: activ.id, method: :get, :remote => true}, class: "nav-link p-0") do %>
									<div class= "nav flex-row activity-row p-2 text-dark ">
										<div class="mini-card education">
										<div class="overlay"></div>
										<div class="circle">
											<%= display_activity_image(activ, :medium, "w-75 rounded-circle") %>
										</div>
											<p class="m-0 cell-activity_name"><%= activ.name%></p>
									</div>
								</div>
								<% end %>
							<% end %>
						<% end %>
					</div>
					<div class="tab-pane fade" id="joined-activities" role="tabpanel" aria-labelledby="joined-tab">
						<% activity = Activity.joins(:memberships).where({ "memberships.user_id" => current_user.id}) %>
						<% if (activity.blank?) %>
			              <p class="position-absolute pt-5 pl-4" id="sidebarEmpty">Join an activity to connect with people!</p>
			            <% else %>
							<% activity.each do |activ| %>
								<%= link_to({action: "show_chat", controller: "pages", id: activ.id, method: :get, :remote => true}, class: "nav-link p-0") do %>
									<div class= "nav flex-row activity-row p-2 text-dark">
										<div class="mini-card education">
										<div class="overlay"></div>
										<div class="circle">
											<%= display_activity_image(activ, :medium, "w-75 rounded-circle") %>
										</div>
											<p class="m-0 cell-activity_name"><%= activ.name%></p>
									</div>
									</div>
								<% end %>
							<% end %>
						<% end %>
					</div>
				</div>	
			</div>
		</div>
<!-- Card -->
		<div id="main_view" class = "col-md-9 ml-sm-auto px-auto justify-content-center">
        <% if params[:activity_id] %>
          <div id="card-container">
            <% activity = Activity.find(params[:activity_id]) %>
            <%= render 'activities/activity_card', activity: activity %>
          </div>
        <% else %>
  				<div id="card-container">
  					<% queue = Activity.queue(current_user.id) %>
  					<% if queue.count > 0 %>
  					<% nextActivityInQueue = queue.first() %>
  						<div class="card-flipper mx-auto" id="card-flipper">
  						  <div class="card border border-primary swipe-card m-0" onclick="flip()" ontouchstart="this.classList.toggle('hover');" >
  						    <div id="old" style="background-color: <%= '#ff0000' if nextActivityInQueue.max_size == nextActivityInQueue.team_count %>">
  									<%= render 'pages/swipe_card', activity: nextActivityInQueue%>
  								</div>
  								<div id="new">
  					     	</div>
  						  </div>
  						</div>
  						<!-- Buttons -->
  						<div class="row justify-content-center buttons" >
  							<%= render 'pages/swipe_card_buttons', activity: nextActivityInQueue%>
  						</div>	
  					<% else %>
  						<%= render 'pages/empty_deck', type: 'activity'%>
  					<% end %>
  				</div>
        <% end %>
		</div>
	</div>
	<% end %>
<script>
$(document).ready( function() {
$('a').on('ajax:beforeSend', function() {
  $("#loader").show();
});

$('a').bind('ajax:complete', function() {
  $("#loader").hide();
});
});

</script>
</body>

