
<body>
	<% if user_signed_in? %>

	<%# @users.each do |user| %>
		<%#= this_user = user %>
		
	<%# end %>
	
	<div class = "row">
		<div class = "col-3 sidebar h-100 d-inline-block">
			<% (0..20).each do |i| %>
				<div class= "row activity-row p-2">
          <p><%= Activity.find(42).name %></p>
					<p><%= Activity.find(42).description %></p>
				</div>
			<% end %>
			<div class= "row activity-row p-2">
				<h4><%= Activity.find(42).name %></h4>
				<p><%= Activity.find(42).description %></p>
			</div>
			<div class= "row activity-row p-2">
				<h4><%= Activity.find(42).name %></h4>
	    		<p><%= Activity.find(42).description %></p>
			</div>
			<div class= "row activity-row p-2">
				<h4><%= Activity.find(42).name %></h4>
	    		<p><%= Activity.find(42).description %></p>
			</div>
			
			
		</div>
	<div class = "row">
		<div class = "col-20 mx-auto">
			<%= render "activities/activity_card" %>
		</div>
	</div>
		
	<!--	
		<nav class = "col-3 bg-dark d-none d-md-block sidebar">
			<div class= "col-3 bg-dark sidebar-sticky">
				<div class= "row text-light">
					<h5><%#= Activity.find(1).name %></h5>
		      		<p><%#= Activity.find(1).description %></p>
				</ul>
			</div>
		</nav>
	-->	
	</div>
	  <% end %>
</body>

