<<<<<<< HEAD
<div class="card border border-dark">
    <%= display_activity_image(:medium) %>
    <div class="card-body">
        <h5 class="card-title"><%= @activity.name %></h5>
        <p class="card-text"><%= @activity.description %></p>
    </div> 
</div>

<div class="card-body mxauto">
        <a href="#" class="card-link">Like</a>
        <a href="#" class="card-link">Dislike</a>
=======
<div class="card border border-dark">
    <div class="card-body">
        <h5 class="card-title"><%= @activity.name %></h5>
        <p class="card-text"><%= @activity.description %></p>
    </div> 
</div>

<div class="card-body mxauto">
        <a href="#like_card" class="card-link">Like</a>
        <a href="#dislike_card" class="card-link">Dislike</a>
>>>>>>> 4ec6fd5249b0f7a0cc2cdcce0c58546f4707720f
    </div>