<div class="card border border-dark p-1" ontouchstart="this.classList.toggle('hover');" >
    <%= image_tag(@activity.image.url(:medium), :class => "card-img-top") %>
    <div class="card-body">
        <h5 class="card-title btn btn-dark"><%= @activity.name %></h5>
        <p class="card-text btn-light activity-description"><%= @activity.description %></p>
    </div>
</div>


<!-- Buttons -->
<div class="row justify-content-center mt-2">
			<%= button_to "Dislike", {action: "dislike_activity", id: @activity.id}, {class: 'btn btn-danger mr-2'} %>
			<%= button_to "Like", {action: "like_activity", id: @activity.id}, {class: 'btn btn-success ml-2'} %>
</div>

