<%= link_to({action: "back_to_swipe", controller: "/pages", method: :get, :remote => true}, class: "circleBase") do %>
&times;
<%end%>
<!-- _activity_card1 -->
<div class="card-flipper mx-auto" id="card-flipper">
  <div class="card border border-dark card-flip mx-auto swipe-card" onclick="flip()" ontouchstart="this.classList.toggle('hover');" >
    <div id="old">
      <div class="front">
        <%= display_activity_image(activity, :medium, "card-img-top") %>
        <div class="card-body py-0 px-2">
          <div class="card-title m-1" id="card-title">
            <span><%= activity.name %></span>
          </div>
          <p class="card-text card-section bg-light" id="activity-description-front"><%= activity.description %></p>
        </div>
      </div>
      <div class="back p-2 bg-white border border-dark">
        <h5 class="card-title m-1"><%= activity.name %></h5>
        <p class="card-text card-section bg-dark text-light"><%= capacity(activity) %></p>
        <p class="card-text card-section bg-light"><%= activity.description %></p>
        <h6 class="card-text mt-2">Joined Members:</h6>
        <% current_members = User.joins(:memberships).where({ "memberships.activity_id" => activity.id}) %>
        <% current_members.each do |member| %>
          <%= link_to({action: "show_profile_card", controller: "pages", id: member.id, method: :get, :remote => true}, class: "nav-link p-0 float-left w-25 mr-2") do  %>
            <div class="position-relative"><%= display_image(member, :medium, "w-100 rounded") %></div>
            <p class="badge bg-primary text-light"> <%= member.first_name %></p>
            <p class="badge bg-light text-dark"> <%= member.major %></p>
          <% end %>
        <%end %>
      </div>
    </div>
    <div id="new"></div>
  </div>
</div>

<!-- Buttons -->
<div class="buttons">
  <div class="row button-row">
    <% if activity.project_owner_id != current_user.id  %>
      <% if activity.matches.exists?(user_id: current_user.id, activity_id: activity.id) %>
        <% if activity.memberships.exists?(user_id: current_user.id, activity_id: activity.id) %>
          <%= link_to "Leave", {action: "leave_activity", controller: "/pages", id: activity.id, :remote => true},  {class: 'btn btn-warning btn-center'} %>
        <% else %>
          <%= link_to "Unmatch", {action: "unmatch_activity", controller: "/pages", id: activity.id, :remote => true}, {class: 'btn btn-danger btn-right'} %>
          <% if activity.max_size == activity.team_count %>
            <!-- ADD NEW BUTTON SAYING SEND NOTIFICATION WHEN MEMBERSHIP SPOT OPENS OR SOMETHING-->
          <% else %>
            <%= link_to "Join", {action: "join_activity", controller: "/pages", id: activity.id, :remote => true}, {class: 'btn btn-primary btn-left'} %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to "Dislike", {action: "dislike_activity", controller: "/pages", id: activity.id, :remote => true}, {class: 'btn btn-danger dislike_button btn-left'} %>
        <%= link_to "Like", {action: "like_activity", controller: "/pages", id: activity.id, :remote => true}, {class: 'btn btn-success like_button btn-right'} %>
      <% end %>
    <% else %>
      <%= link_to "Edit", {action: "show_edit_activity_card", :controller=>"/pages", id: activity.id, :remote => true, method: :get }, {class: 'btn btn-primary btn-center'} %>
    <% end %>
  </div>
</div>