<a class="circleBase">&times;</a>
<div class="card-flipper mx-auto">
  <div class="card border border-dark swipe-card m-0" onclick="flip()" ontouchstart="this.classList.toggle('hover');" >
    <div id="old">
    <div class="front">
      <%= display_activity_image(activity, :medium, "card-img-top") %>
      <div class="card-body py-0 px-2">
        <span class="card-title m-1"><%= activity.name %></span>
        <p class="card-text btn-light activity-description"><%= activity.description %></p>
      </div>
    </div>
    <div class="back">
      <span class="card-title btn btn-dark"><%= capacity(activity) %></span>
    </div>
    </div>
      <div id="new">
     </div>
  </div>
</div>

<!-- Buttons -->
<div class="buttons">
<div class="row justify-content-center mt-2">
      <% if activity.project_owner_id != current_user.id  %>
        <% if activity.matches.exists?(user_id: current_user.id, activity_id: activity.id) %>
          <% if activity.memberships.exists?(user_id: current_user.id, activity_id: activity.id) %>
            <%= link_to "Leave", {action: "leave_activity", controller: "pages", id: activity.id, :remote => true},  {class: 'btn btn-warning'} %>
          <% else %>
            <%= link_to "Unmatch", {action: "unmatch_activity", controller: "pages", id: activity.id, :remote => true}, {class: 'btn btn-danger mr-2'} %>
            <% if activity.max_size == activity.team_count %>
              <!-- ADD NEW BUTTON SAYING SEND NOTIFICATION WHEN MEMBERSHIP SPOT OPENS OR SOMETHING-->
            <% else %>
              <%= link_to "Join", {action: "join_activity", controller: "pages", id: activity.id, :remote => true}, {class: 'btn btn-primary ml-2'} %>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to "Dislike", {action: "dislike_activity", controller: "pages", id: activity.id, :remote => true}, {class: 'btn btn-danger mr-2 dislike_button'} %>
  			  <%= link_to "Like", {action: "like_activity", controller: "pages", id: activity.id, :remote => true}, {class: 'btn btn-success ml-2 like_button'} %>
        <% end %>
      <% else %>
        <%= link_to "Edit", {action: "show_edit_activity_card", :controller=>"pages", id: activity.id, :remote => true, method: :get }, {class: 'btn btn-primary'} %>
      <% end %>
</div>
</div>

