<h1>Create a new activity</h1>
<%= form_for @activity, url:activities_new_path, html: { method: :post } do |f| %>
  <% if @activity.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@activity.errors.count, "error") %> prohibited
        this activity from being saved:</h2>
    <ul>
    <% @activity.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :max_size %>
    <%= f.text_field :max_size %>
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>