
<%= form_for @activity, url:activities_new_path, html: { method: :post } do |f| %>
  <% if @activity.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@activity.errors.count, "error") %> prohibited
        this activity from being saved:</h2>
    <ul>
    <% @activity.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <script type="text/javascript">
    $(function() {
      $('#pictureInput').on('change', function(event) {
        var files = event.target.files;
        var image = files[0]
        var reader = new FileReader();
        reader.onload = function(file) {
          var img = new Image(300, 300);
          console.log(file);
          img.src = file.target.result;
          $('#target').html(img);
        }
        reader.readAsDataURL(image);
        console.log(files);
      });
    });
  </script>
  
  <form>
    <label class="custom-file-upload">
    <input type="file" id= "pictureInput"/>
    Upload Photo
    </label>
  </form>
  <div id="target">
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :max_size %>
    <%= f.text_field :max_size %>
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>