
<%= form_for @activity, url:activities_new_path, html: { method: :post } do |f| %>
  <% if @activity.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@activity.errors.count, "error") %> prohibited
        this activity from being saved:</h2>
    <ul>
    <% @activity.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>Drop an image here</p>
  <div data-imagedrop style='background-image: url(<%= default_activity_image_url %>)'>
    <%= f.file_field :image %>
  </div>

  <div class="field form-group">
    
    <%= f.text_field :name, placeholder: "Activity name", class: "form-control"%>
  </div>
  <div class="field form-group">
    <%= f.text_field :description, placeholder: "Description", class: "form-control" %>
  </div>
  <div class="field form-group">
    
    <%= f.select(:max_size) do %>
    <% [['Max Size', 0], ['2', 2], ['3', 3], ['4', 4], ['5', 5]].each do |c| -%>
    <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
    <%= { class: "form-control"} %>
<% end %>
  </div>
  <div class="actions" align="center">
    <%= f.submit "Create", class: "btn btn-primary" %>
  </div>
<% end %>