<div class = "row">
  <div class = "col-4 mx-auto">
    <div class="card border border-dark">
      <div class="card-body">
        <%= form_for @activity, url: url, html: { method: method } do |f| %>
          <% if @activity.errors.any? %>
            <div id="errorExplanation">
              <h2><%= pluralize(@activity.errors.count, "error") %> prohibited
              this activity from being saved:</h2>
              <ul>
                <% @activity.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
            <% end %>
            <div data-imagedrop style='background-image: url(
              <% if @activity.id != nil %>
                <%= activity_image_url(:medium)%>)'
              <% else %>
                <%= default_activity_image_url %>)'
              <% end %>>
              <%= f.file_field :image %>
            </div>
            <div class="field form-group">
              <%= f.text_field :name, placeholder: "Activity name", class: "form-control"%>
            </div>
            <div class="field form-group">
              <%= f.text_field :description, placeholder: "Description", class: "form-control" %>
            </div>
            <div class="field form-group">
              <%= f.select :max_size,
                [['Max Size', 0], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]%>
            </div>
      </div> 
    </div>
  </div>
</div>
  <div class="actions" align="center">
    <% if url != activities_new_path && @activity.project_owner_id == current_user.id %>
      <%= f.submit "Update", class: "btn btn-primary" %>
        <%= link_to "Delete", { action: "destroy", controller: "activities", id: @activity.id, method: :delete }, class: 'btn btn-danger mr-2' %>
    <% else %>
      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>