<!DOCTYPE html>
<html>
  <head>
    <title>UniMeet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
  </head>

  <body>
  
  	
<!--    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <section class=bg-primary text-center>
      <header class="container">
         <a href="/"><h1><span class="font-weight-bold">Uni</span>Meet</h1></a>
         <% if user_signed_in? %>
    		  <div class="buttons">
            <%= button_to "Home", { :action => 'home', :controller=>'/pages' }, :method => :get %>
            <%= button_to "My Profile", current_user , :method => :get%>
            <%= button_to "Logout", destroy_user_session_path, :method => :delete %>    			  
      		</div>
    	  <% end %>
      </header>
    </section>
    
    <div class="container">
    	
  	  <div class="row" id="main">
  	    
	   </div>
    <%= yield %>
    
    </div>
  </body>
</html>
