<!DOCTYPE html>
<html>
  <head>
    <title>UniMeet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
  </head>

  <%= content_tag :body, class: "#{controller_name} #{action_name}" do %>
<!--    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

  <nav class="navbar bg-primary sticky-top flex-md-nowrap">
    <a class="navbar-brand" id="main-title" href="/"><h1><span class="font-weight-bold">Uni</span>Meet</h1></a>
    <ul class="nav justify-content-end">
      <% if user_signed_in? %>
        <li class="nav-item dropdown mr-5">
          <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <%= current_user.first_name %>
            <%= display_image_menu(:thumb)%> 
          </a>
          <div class="dropdown-menu">
            <%= link_to "View Profile", current_user, :method => :get, class: "dropdown-item" %>
            <%= link_to 'Edit Profile', edit_user_registration_path(@user), class: "dropdown-item" %>
            <%= link_to 'New Activity', activities_new_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
          </div>
        </li>
        
    <% end %>
    </ul>
  </nav>

    
    <div class="container-fluid">
    	
    <%= yield %>
    
    </div>
  <% end %>
</html>
