<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="google" content="notranslate">
<meta http-equiv="Content-Language" content="en">
<html>
<head>
  <title>UniMeet</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "animate" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <script src="jquery.textfill.min.js"></script>
</head>
<%= action_cable_meta_tag %>
<%= content_tag :body, class: "#{controller_name} #{action_name}" do %>

<nav class="navbar bg-primary sticky-top flex-md-nowrap">
  <a class="navbar-brand" id="main-title" href="/"><h1><span class="font-weight-bold">Uni</span>Meet</h1></a>

  <% if user_signed_in? %>
  <ul class="nav justify-content-between">
    <li class="vertical-center">
    <li class="nav-item dropdown ">
      <a class="nav-link text-dark oval" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <div class = "oval-contents">
        Explore as:
        <% if session[:is_swiping_as_user] %>
              <%= display_image_menu(current_user, :thumb, "rounded-circle border border-light")%>
            <% else %>
              <% if session[:current_activity_id] %>
               <%= display_activity_image_menu(Activity.find(session[:current_activity_id]), :thumb, "rounded-circle border border-light")%>
              <% end %>
        <% end %>
        </div>
      </a>
      <div class="dropdown-menu myactivitiesmenu">
        <% if not session[:is_swiping_as_user] %>
          <%= link_to pages_home_path, class: "owned-activities-links" do %>
            <div class= "dropdown-item">
              <%= display_image_menu(current_user, :thumb, "rounded-circle border border-light") %>
              <span>
                <%= current_user.first_name%>
              </span>
            </div>
          <% end %>
        <% end %>
        <% activity = Activity.joins(:memberships).where({ "memberships.ownership" => true, "memberships.user_id" => current_user.id}) %>
        <% activity = activity.where.not("id" => session[:current_activity_id]) %>
        <% activity.each do |activ| %>
             <% next if (activ.id == session[:current_activity_id])%>
        <%= link_to pages_home_activity_perspective_path(:id => activ.id), class: "owned-activities-links" do %>
        <div class= "dropdown-item">
          <%= display_activity_image(activ, :thumb, "rounded-circle") %>
          <span>
            <%= activ.name%>
          </span>
        </div>
        <% end %>
        <% end %>
        <div class="dropdown-divider">
        </div>
        <%= link_to "New Activity", {action: "show_new_activity_card", :controller=>"/pages", :remote => true, method: :get }, {class: 'dropdown-item owned-activities-links new_activity_link_drop'} %>
      </div>
    </li>
    </li>
  </ul>

  <ul class="nav justify-content-end">
    <li class="nav-item" id="notificationsitem">
      <%= render_notifications_of current_user, {index_content: :with_attributes, remote: true} %>
      <%= javascript_tag do %>
  $(document).click(function(e){
      if( !$(e.target).is(".notification_list_cover") && !$(e.target).is(".notification_wrapper a") ){
        if($(".notification_wrapper").hasClass("open") && !$(".notification_wrapper").hasClass("opened")){
          $(".notification_wrapper").addClass("opened");
        }else if($(".notification_wrapper").hasClass("opened")){
          $(".notification_wrapper").removeClass("open").removeClass("opened");
        }
      }
  });

  $(".dropdown_notification").click(function(){
    $(this).parent().toggleClass("open");
  });

  <% end %>
    </li>
    <li class="nav-item dropdown mr-5">
      <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <%= current_user.first_name %>
        <%= display_image_menu(current_user, :thumb, "rounded-circle border border-light")%> 
      </a>
      <div class="dropdown-menu">
        <%= link_to("View Profile", {action: "show_profile_card", controller: "/pages", id: current_user.id, method: :get, :remote => true}, class: "dropdown-item") %>
        <%= link_to("Edit Profile", {action: "show_edit_profile_card", controller: "/pages", method: :get, :remote => true}, class: "dropdown-item") %>
        <div class="dropdown-divider"></div>
        <%= link_to "Logout", destroy_user_session_path, :method => :delete, class: "dropdown-item" %>
      </div>
    </li>
  </ul>
    <% end %>
  
</nav>


<div class="container-fluid">
  
  <%= yield %>

</div>
<% end %>
<!-- Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">New Match!</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Congratulations, you have a new match!
      </div>
    </div>
  </div>
</div>

<div id="loader" style="display: none;">
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
</div>

</html>
